/* GENERAL STYLES */
.roboto-condensed-george {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: white;
  color: #161616;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h2, h3, h4 {
  color: #0057ff;
  padding-bottom: 5px;
  font-weight: 700;
}

h3 {
  padding-left: 0px;
}

.larger {
  font-size: 1.4em;
}

.hidden {
  display: none !important;
}

.underline-header {
  margin-top: 30px;
  border-bottom: 1px solid #0057ff;
}

.img-fluid {
  margin: 0px auto;
}

a {
  color: #0057ff;
}

a:hover {
  color: blue;
}

/* HEADER */

.header-h1 {
  margin: 45px 30px 50px 0px;
}

.navbar {
  margin-bottom: 30px;
  background-color: #0057ff;
  color: white;
}

.dropdown-menu {
  background-color: #0057ff;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: black;
}

.navbar .dropdown-item {
  color: white;
}

.navbar .dropdown-item:hover {
  background-color: #7ca3c3;
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}


.navbar-nav .nav-item {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}



.dropdown-label {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

/* LOADING ANIMATION */

.loading-spinner {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
}

.loading-spinner .spinner-border {
  margin: 0px auto;
  text-align: center;
}

/* MAIN CONTENT */

.main-content {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

/* ABOUT SECTION */

.bio-image {
  margin-bottom: 15px;
  border: 1px solid #0057ff;
}

.social-icon {
  text-decoration: none;
  color: #0057ff;
  margin-left: 10px;
}

.social-icon:hover {
  color: blue;
}


/* PROJECTS SECTION */

.list-group {
  border-radius: 0px;
}

.project-header h2 {
  padding-left: 0px !important;
  margin-bottom: 0px;
}

.project-section .row {
  padding: 20px 10px;
  border: 1px solid #0057ff;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
}

.project-col a {
    cursor: pointer;
}

.badges {
  margin-bottom: 10px;
  margin-top: 10px;
}

.badge {
  opacity: 0.8;
}

.badge-html {
  background-color: #e34d36;
}

.badge-css {
  background-color: #563d7c;
}

.badge-js {
  background-color: #d4c01f;
}

.badge-wp {
  background-color: #2f7bca;
}

.badge-php {
  background-color: #4f5d95;
}

.badge-net {
  background-color: #be2a74;
}

.badge-csharp {
  background-color: #5d2d92;
}

.badge-python {
  background-color: #33692c;
}

.project-section h4 {
  margin-top: 15px;
}

.project a img {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.project-section a:hover img {
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.project-section .project-col a {
  color: #0057ff;
  text-decoration: underline;
}

.project-section .project-col a:hover {
  color: blue;
  text-decoration: underline;
}

.portfolio-header {
  margin-top: 120px;
}

/* PROJECTS AND JOBS */

.resume-header h2,
.resume-header h3 {
  padding-left: 0px;
  margin-bottom: 0px;
}

.project-section h3,
.project-header h3,
.resume-section h3,
.resume-header h3 {
  padding: 2px 0px;
}

.project-section h3,
.project-header h3 {
  margin: 10px 0px 30px 0px;
}

.resume-section h3,
.resume-header h3 {
  margin: 10px 0px 0px 0px;
}

.resume-section h3 {
  margin: 50px 0px 20px;
}

/* JOBS */
.job {
  padding: 20px 0px 0px 0px;
  border-right: 0px;
  border-left: 0px;
}

.job:first-child {
  border-top: 0px;
}

.job:last-child {
  border-bottom: 0px;
}

.job h4 {
  margin-bottom: 3px;
}

.job .role {
  margin-bottom: 0px;
}

.job .dates {
  font-style: italic;
}

/* CONTACT SECTION */

.contact-header {
  margin-top: 40px;
  margin-bottom: 10px;
}

.form-contact label {
  width: 100%;
}

.form-contact .form-group {
  margin-bottom: 10px;
}

.form-contact {
  padding: 20px;
}

/* FOOTER */

footer {
  padding: 80px 0px 50px;
}

/* RESPONSIVE STYLES */

@media only screen and (min-width: 675px) {
  .project-header {
    margin-top: 20px;
  }

  .form-contact label {
    text-align: right;
  }
}

@media only screen and (max-width: 675px) {
  .form-contact {
    padding: 15px;
  }

  .project-col h4 {
    margin-top: 10px;
  }
  
}
