.hidden {
    display: none !important;
}

body {
    background-color: #161616;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

.list-group {
    border-radius: 0px;
}

.bg-dark {
    background-color: #121212 !important;
}

.project-header h2 {
    padding-left: 0px !important;
}

.card {
    margin-bottom: 20px;
    padding: 20px;
}

.underline-header {
    margin-top: 30px;
    border-bottom: 2px solid white;
}

.contact-header {
    margin-top: 40px;
    margin-bottom: 10px;
}

.img-fluid {
    margin: 0px auto;
}

.bg-dark .list-group-item {
    color: white;
    text-decoration: none;
    background-color: #121212;
    border-color: #353535;
}

.header-h1 {
    margin: 45px 30px 50px 0px;
}

.navbar {
    margin-bottom: 30px;
}

.navbar a:hover {
    color: #7CA3C3;
}

.navbar .dropdown-item {
    color: rgba(255,255,255,.55);
}

.navbar .dropdown-item:hover {
    background-color: #7CA3C3;
    color: black;
}

.resume-header h2, .resume-header h3{
    padding-left: 0px;
    margin-bottom: 0px;
}

h3 {
    padding-left: 0px;
}

.project-section h3, .project-header h3, .resume-section h3, .resume-header h3 {
    padding: 2px 0px;
}

.project-section h3, .project-header h3 {
    margin: 10px 0px 30px 0px;
}

.resume-section h3, .resume-header h3 {
    margin: 10px 0px 0px 0px;
}

.resume-section h3 {
    margin: 50px 0px 20px;
}

/* Jobs */
.job {
    padding: 30px;
    border-right: 0px;
    border-left: 0px;
}

.job:first-child {
    border-top: 0px;
}

.job:last-child {
    border-bottom: 0px;
}

.job h4 {
    margin-bottom: 3px;
}

.job .role {
    margin-bottom: 0px;
}

.job .dates {
    font-style: italic;
}

.portfolio-header {
    margin-top: 120px;
}

.dropdown-label {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: white;
}

.project a img {
    opacity: 1;
    transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.project-section a:hover img {
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}


.project-section .project-col a{
    color: #7CA3C3;
    text-decoration: underline;
}

.project-section .project-col a:hover {
    color: blue;
    text-decoration: underline;
}

/*Badges */

.badges {
    margin-bottom: 10px;
    margin-top: 10px;
}

.badge {
    opacity: 0.8;
}

.badge-html {
    background-color: #E34D36;
}

.badge-css {
    background-color: #563D7C;
}

.badge-js {
    background-color: #F1E05A;
}

.badge-wp {
    background-color: #2F7BCA;
}

.badge-php {
    background-color: #4F5D95;
}

.badge-net {
    background-color: #5D2D92;
}


.project-section p, .project-section a{
    margin-bottom: 4px;
}

.form-contact .form-group {
    margin-bottom: 10px;
}

.form-contact {
    padding: 20px;
}

.bg-dark .form-control {
    color: white !important;
    background-color: #121212 !important;
}

.project-section p, .resume-section p{
    color: rgba(255,255,255,.55);
}

.form-contact {
    background-color: #121212;
    color: white;
}

.form-contact label {
    width: 100%;
}

footer {
    padding: 80px 0px 50px;
}

@media only screen and (min-width: 675px) {

    .project-header {
        margin-top: 20px;
        margin-bottom: 15px;
    }

.form-contact label {
    text-align: right;
}
}

@media only screen and (max-width: 675px) {

    p {
        padding: 15px;
    }

    .form-contact {
        padding: 15px;
    }
}
